<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="lib/vue-2.4.0.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			
			<input type="text" name="" id="" value="0" v-model="n1"/>
			
			<select v-model="opt">
				<option value ="+">+</option>
				<option value ="-">-</option>
				<option value ="*">*</option>
				<option value ="/">/</option>
			</select>
			
			<input type="text" name="" id="" value="0" v-model="n2"/>
			
			
			<input type="button" name="" id="" value="=" @click="calc" />
			
			<input type="text" name="" id="" value="0" v-model="result"/>
			
			
			
		</div>
		
		
		<script type="text/javascript">
			
		
			var vue=new Vue({
				el:"#app",
				data:{
					n1:'0',
					n2:'0',
					result:'0',
					opt:'+'
				},
				methods:{
					calc:function(){
					// 	console.log("====calc====")
					// 	switch(this.opt){
					// 		case '+':
					// 		this.result = parseInt(this.n1) + parseInt(this.n2);
					// 		break;
					// 		case '-':
					// 		this.result = parseInt(this.n1) - parseInt(this.n2);
					// 		break;
					// 		case '*':
					// 		this.result = parseInt(this.n1) * parseInt(this.n2);
					// 		break;
					// 		case '/':
					// 		this.result = parseInt(this.n1) / parseInt(this.n2);
					// 		break;	
					// 	}
					// }
					
					
					var codeStr = 'parseInt(this.n1)' + this.opt+'parseInt(this.n2)';
					this.result = eval(codeStr);
					
					}
				}
			});
			
		</script>
		
		
	</body>
</html>
